/* 
Name : Prince Harshadbhai Bhingradiya
Section : WEB222 NII
Student ID : 159072206
Secneca mail : phbhingradiya@mysenecacollege.ca
Date : 16 April 2022
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    }
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: rgb(255, 30, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover:not(.active) {
    background-color: rgb(1, 251, 255);
    }
    

    Body {
       background-color: rgb(255, 255, 255);
      }
    H1 {
    color: rgba(0, 0, 0, 0.623);
  }
  .btn {
    background-color: rgb(255, 30, 255);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn:hover {
    background-color: rgb(225, 65, 166);
  }

  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  } 
